.portfolio {
  padding: 50px 70px 100px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__links {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__link-element {
  padding: 20px 0 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__link-element:last-of-type {
  border-bottom: 0;
}

.portfolio__link {
  color: #000000;
  display: flex;
  justify-content: space-between;
  background: transparent url(../../images/portfolioIcon.svg) 100%/20px
    no-repeat;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.portfolio__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .portfolio {
    padding: 42px 50px 50px;
  }

  .portfolio__links {
    margin-top: 28px;
    font-size: 28px;
  }

  .portfolio__link {
    font-size: 28px;
    background-size: auto 17px;
  }
}

@media screen and (max-width: 760px) {
  .portfolio {
    padding: 40px 13px 50px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__links {
    margin-top: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    background-size: auto 11px;
    margin-right: 5px;
  }
}
