.navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .navigation__toggle {
    display: none;
  }
  
  .navigation__btn {
    display: none;
  }
  
  .navigation__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-left: 60px;
    padding: 0;
  }
  
  .navigation__items {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  
  .navigation__item a {
    display: block;
    text-align: center;
    margin-right: 0;
    padding:0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    transition-duration: .25s;
    color: #000000;
  }
  
  .navigation__item_type_main {
    display: none;
  }
  
  .navigation__item_type_account {
    display: none;
    padding: 2px 0;
    margin: 0 210px 92px;
    box-sizing: border-box;
    width: 100px;
    color: #000000;
  }
 
  .navigation__item:nth-last-child(n+2) {
    margin-right: 15px;
  }
  
  .navigation__item:last-of-type {
    margin-right: 0;
  } */
  
  .navigation__link {
    color:#000000;
    text-decoration: none;
    transition: opacity .2s linear;
  }
  
  .navigation__link:hover {
    opacity: .6;
  }
  
  .navigation__link_type_account {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  
  .navigation__link_active {
    border-bottom: 2px solid #000000;
    padding-bottom: 3px;
  }
  
  .navigation__link-img {
    padding: 8px 8px;
    background-color: #F9F9F9;
    border-radius: 6px;
    margin-left: 13px;
  }
  
  @media screen and (max-width: 768px) {
    .navigation__toggle:checked ~ .navigation__btn > .navigation__btn-img {
      width: 22px;
      transform: rotate(45deg);
      position: fixed;
    }
    .navigation__toggle:checked ~ .navigation__btn > .navigation__btn-img::before {
      top: 0;
      width: 22px;
      transform: rotate(0);
    }
    .navigation__toggle:checked ~ .navigation__btn > .navigation__btn-img::after {
      top: 0;
      width: 22px;
      transform: rotate(90deg);
      
    }
    .navigation__toggle:checked ~ .navigation__container {
      visibility: visible;
      position: fixed;
      right: 0;
    }

    .navigation__toggle:checked ~ .navigation__background {
      visibility: visible;
      position: fixed;
      right: 0;
    } 
  
    .navigation__items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding: 146px 0 0;
      list-style: none;
      width: auto;
    }
  
    .navigation__item a {
      display: block;
      text-align: center;
      padding: 14px 0;
      margin-right: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      transition-duration: .25s;
    }

    .navigation__item_type_account{
      display: flex;
      align-items: center;
    }
  
    .navigation__item_type_main {
      display: block;
    }
  
    .navigation__btn {
      display: flex;
      align-items: center;
      position: relative;
      width: 27px;
      height: 22px;
      margin: -10px;
      cursor: pointer;
      z-index: 2;
    }
  
    .navigation__btn-img,
    .navigation__btn-img::before,
    .navigation__btn-img::after {
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #000000;
      transition-duration: .90s;
    }
    .navigation__btn-img::before {
      content: '';
      top: -9px;
    }
    .navigation__btn-img::after {
      content: '';
      top: 9px;
    }
    .navigation__background {
      visibility: hidden;
      background-color: #000000;
      opacity: .3;
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 100%;
      z-index: 1;
      
    }
    .navigation__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 520px;
      height: 100vh;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #FFFF;
      transition-duration: .75s;
      z-index: 1;
    }
  }
  
  @media screen and (max-width: 730px) {

    .navigation__btn {
      width: 20px;
      height: 18px;
      margin: 0 10px 0 0;
    }
    .navigation__background {
      display: none;
      position: absolute;
    }
    .navigation__container {
      width: 310px;
      height: 100vh;
      padding: 120px 0 0;
      justify-content: start;

    }
  
    .navigation__items {
      padding: 0;
      margin-left: -10px;
    }


    .navigation__item {
      font-size: 18px;
      margin: 0;
      padding: 5px 0 0;
    }
  
    .navigation__item_type_account {
      align-self: center;
      margin: 0;
      padding: 250px 0 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }


  }