.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5c5c5c;
  font-weight: 500;
  min-width: 183px;
  margin: auto 0;
}

.auth__signup {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: opacity 0.2s linear;
}

.auth__signup:hover {
  opacity: 0.6;
}

.auth__signin {
  background-color: #2be080;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 8px 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  transition: opacity 0.2s linear;
}

.auth__signin:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .auth {
    min-width: 132px;
  }
  .auth__signup {
    font-size: 10px;
    line-height: 16px;
  }

  .auth__signin {
    font-size: 10px;
    line-height: 16px;
    padding: 5px 12px;
  }
}
